:root {
  --navBG: #fff
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #141c2f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4d566b;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #55668f;
}

/* * Utilities */
.Main {
  transition: all 0.5s ease-in;
  min-height: 100vh;
  position: relative;

  &.dark {
    background-color: #1e293b;
    color: #fff;
  }

  &.light {
    background-color: #b6b6b6;
  }
}

#error-page {
  display: grid;
  place-content: center;
  // min-height: 30vh;
  margin: 3rem;
}

.container {
  padding-inline: 1rem;

  @media screen and (max-width:576px) {
    padding-inline: 1rem;
  }
}

input,
label {
  box-shadow: none;
}

p,
label {
  margin-bottom: 0;
}

.fs-small {
  font-size: small;
}

.fs-large {
  font-size: large;
}

.fs-larger {
  font-size: larger;
}

.active {
  font-weight: 700;
}

.big-btn {
  width: max-content;
  padding-inline: 3rem;
}

/* * Navbar */
.navbar {
  transition: all 1s ease;
  border-bottom: 5px solid;
  position: sticky;
  top: 0;
  z-index: 4;
  transition: all 0.3s;


  .logo {
    flex: 50%;
  }

  .switch {
    font-size: 2rem;

    label {
      cursor: pointer;
      border: 2px solid;
      padding: 0.5rem;
      border-radius: 50%;
      display: flex;
      transition: all 0.5s;
    }

  }

  .nav-sides {
    align-items: center;
    flex: 20%;
    justify-content: space-between;
  }

  .nav-items {
    padding-left: 0;

    .nav-link a {
      font-size: large;
      letter-spacing: 2px;
    }
  }
}


.navbar-dark {
  background-color: #141c2f;
  color: #fffb;
  box-shadow: 0px 5px 9px 1px #ffffff4f;

  .nav-link a {
    color: #ccc;
  }
}

.navbar-light {
  background-color: #d8d8d8;
  box-shadow: 0px 5px 9px 1px #0000004f;

  .nav-link a {
    color: #333;
  }
}

.navbar h1 {
  font-weight: 600;
}

.form-check-input:checked {
  background-color: #282828;
  border-color: #ffffff;
}

.form-switch {
  padding-left: 0;
}

.form-switch .form-check-input {
  box-shadow: none;
}

.header {
  transition: all 0.5s ease-in;
}

.searchBox {
  position: relative;
  // margin-right: 2rem;
}

// .searchBox::after {
//   content: '';
//   position: absolute;
//   top: 50%;
//   right: -1rem;
//   width: 2px;
//   height: 29px;
//   background-color: #fff;
//   transform: translateY(-50%);
// }

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 125px);
  gap: 3rem 2rem;
  justify-content: center;
  transition: all 0.3s ease-in-out;

  @media screen and (min-width:576px) and (max-width: 990px) {
    grid-template-columns: repeat(auto-fit, 100px);

  }

  @media screen and (max-width:576px) {
    grid-template-columns: repeat(auto-fit, 80px);

  }
}

.mon-card {
  --size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  background-color: #4d566b;
  color: #fff;
  border-radius: 5px;
  font-size: calc(var(--size)/4);
  position: relative;
  // overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
  transform: scale(1);

  @media screen and (min-width:576px) and (max-width: 990px) {
    --size: 6.5rem;
    width: var(--size);
    height: var(--size);
  }

  @media screen and (max-width:576px) {
    --size: 5rem;
    width: var(--size);
    height: var(--size);
  }

  &:hover {
    border: 1px solid;
    transform: scale(1.1);

  }

  &.dark {
    background-color: #141c2f;
  }

  .d-num,
  .o-num {
    z-index: 2;
  }

  img {
    position: absolute;
    filter: blur(9px);
    opacity: 0.8;
  }

  &.owned {

    .d-num,
    .o-num {
      position: absolute;
      left: -2px;
      top: -3px;
      font-size: 16px;
      background: rgb(0 0 0);
      padding: 0 5px;
      border-radius: 5px 0;
    }

    .o-num {
      left: unset;
      right: -3px;
      top: unset;
      bottom: -3px;
    }

    img {
      position: absolute;
      filter: none;
      opacity: 1;
    }
  }
}

.filterDD {
  margin-left: 1rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  background: #cccccc;
  color: #141c2f;
  border: 1px solid gray;
  transition: all 1s ease;
  position: relative;

  .filter-modal {
    position: absolute;
    background: rgba(205 205 205/ 70%);
    padding: 0.7rem 1rem;
    right: 0;
    top: 115%;
    z-index: 3;
    border: 1px solid;
    border-radius: 5px;
    backdrop-filter: blur(8px);
    width: 14rem;

    .drop-items {
      margin-bottom: 1rem;

      select {
        width: 100%;
        display: block;
        background: #212529;
        color: #fff;
        border-radius: 5px;
      }
    }
  }

  &.dark {
    background: #141c2f;
    color: #fff;

    .filter-modal {
      background: rgb(20 28 47 / 70%);
      color: #fff;
    }

  }

  &:hover {
    border: 2px solid;
  }
}

.center-loading {
  display: grid;
  height: 80vh;
  font-size: 3rem;
  place-content: center;
}

#detailedModal {
  position: fixed;
  inset: 0;
  background-color: rgba(31, 37, 69, .30);
  backdrop-filter: blur(10px);
  z-index: 5;
  width: 100vw;
  height: 100vh;

  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    height: 550px;
    background-color: #141c2faa;
    z-index: 6;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    display: flex;
    color: #000;
    position: relative;

    .saru-img {
      width: 50%;
      position: relative;
    }

    @media screen and (max-width: 1100px) {
      width: 800px;
      height: 400px;
    }

    @media screen and (max-width: 800px) {
      flex-direction: column;
      width: 90vw;
      height: 90vh;

      .saru-img {
        width: unset;
      }

      .btns {
        width: unset;
      }

      .modal-container {
        flex-direction: column;
        min-height: 90vh;

        img {
          flex: unset;
        }

        .blank {
          flex: 50%;
        }
      }
    }

    &.light {
      color: #333;

      .mon-details {
        background: #ccc;
        color: #333;
      }

      .desc {
        background-color: #aaa;
      }

      .detail-box {
        background-color: #aaa;

        sub {
          color: #333;
        }
      }

      textarea {
        background-color: #aaa;
        color: #333;
      }
    }
  }
}

html:has(#detailedModal) {
  overflow: hidden;
}

.modal-container {
  width: 100%;
  color: #fff;
  display: flex;

  // background: green;
  // @media screen and (max-width: 800px) {
  //   .modal-container {
  //     min-height: 80vh;
  //   }
  // }

  img {
    flex: 50%;
  }

  .blank {
    background-color: #fff;
    flex: 50%;
    position: relative;
  }

  .mon-details {
    flex: 50%;
    // height: 80vh;
    overflow: auto;

    .details-wrapper {
      // padding: 0.5rem 1rem;
      margin: 1rem 2rem;

      .desc {
        font-size: small;
        padding: 0.5rem 1rem;
        margin-block: 1rem;
        background: #333;
        border-radius: 10px;

      }

      .detail-box-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 2rem;

        .detail-box {
          sub {
            color: #fff8
          }

          background-color: #333;
          padding: 0.5rem 1rem;
          border-radius: 10px;
          flex-grow: 1;
          padding-bottom: 10px;
          flex: 28%;
          font-weight: bold;
        }

        .raw-detail {
          background-color: #333;
          width: 100%;
          font-size: smaller;
          word-wrap: break-word;
          color: #fff;
          height: 10rem;
        }
      }

      .stats {
        .attr {
          flex: 20%;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  .no-details {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    flex: 50%;
  }

}

.btns {
  position: absolute;
  inset: 0;
  color: #333;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .closeBtn,
  .navs .btn {
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: .7rem;
    z-index: 7;
  }

  .navs {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .btn {
      font-size: unset;
    }
  }
}