:root {
  --navBG: #fff
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  /* background-color: rgb(37 89 104);
  color: #fff; */
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #141c2f;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4d566b;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #55668f;
}

/* * Utilities */
.App {
  transition: all 0.5s ease-in;
  min-height: 100vh;
}

.App.dark {
  background-color: #1e293b;
  color: #fff;
}

.App.light {
  background-color: #b6b6b6;
}

.container {
  padding-inline: 3rem;
}

input,
label {
  box-shadow: none;
}

p,
label {
  margin-bottom: 0;
}

.fs-small {
  font-size: small;
}

.fs-large {
  font-size: large;
}

.fs-larger {
  font-size: larger;
}

/* * Navbar */
.navbar {
  transition: all 1s ease;
  border-bottom: 5px solid;
}

.navbar-dark {
  background-color: #141c2f;
  color: #fffb;
  box-shadow: 0px 5px 9px 1px #ffffff4f;

}

.navbar-light {
  background-color: #d8d8d8;
  box-shadow: 0px 5px 9px 1px #0000004f;

}

.navbar h1 {
  font-weight: 600;
}

.form-check-input:checked {
  background-color: #282828;
  border-color: #ffffff;
}

.form-switch .form-check-input {
  box-shadow: none;
}

.header {
  transition: all 0.5s ease-in;
}

.searchBox {
  position: relative;
  margin-right: 2rem;
}

.searchBox::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -1rem;
  width: 2px;
  height: 29px;
  background-color: #fff;
  transform: translateY(-50%);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2rem;
  transition: all 0.3s ease-in-out;
}

.card-num {
  --size: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: var(--size);
  height: var(--size);
  background-color: #4d566b;
  color: #fff;
  border-radius: 5px;
  font-size: calc(var(--size)/4);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;

  &.dark {
    background-color: #141c2f;
  }

  .d-num {
    z-index: 2;
  }

  img {
    position: absolute;
    filter: blur(9px);
    opacity: 0.8;
  }

  &.owned {
    .d-num {
      position: absolute;
      left: -1px;
      top: -2px;
      font-size: 16px;
      background: #0003;
      padding: 0 5px;
      border-radius: 5px;
    }

    img {
      position: absolute;
      filter: none;
      opacity: 1;
    }
  }
}

.filterDD {
  margin-left: 1rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  background: #cccccc;
  color: #141c2f;
  border: 1px solid gray;
  transition: all 1s ease;

  &.dark {
    background: #141c2f;
    color: #fff;
  }

  &:hover {
    filter: brightness(2);
  }
}